@model RouteLister2.Models.UsersInSystem

<link href="~/lib/animate.css/animate.css" rel="stylesheet" />


<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <span class="h4">
                    <i class="fa fa-users text-primary"></i> Befintliga användare<span class="h6 text-danger animated fadeOut"> @Model._message</span>
                    <span class="pull-right">
                        <a class="btn btn-xs btn-default" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            <i class="fa fa-chevron-down"></i>
                        </a>
                    </span>
                </span>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                <table class="table-useradmin">
                    <thead>
                        <tr>
                            <th style="width:5%"></th>
                            <th style="width:15%">Namn</th>
                            <th style="width:15%">Roll</th>
                            <th style="width:20%">Epost</th>
                            <th style="width:15%">Tele</th>
                            <th style="width:15%">Låst Konto</th>
                            <th style="width:15%">Inloggning</th>
                            <th style="width:5%"></th>
                        </tr>
                    </thead>
                </table>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    @{foreach (var item in Model._users)
                        {
                            <div class="panel panel-default">
                                <div class="panel-heading-useradmin" role="tab" id="heading @item.Id">
                                    <table class="table-useradmin table-width table-hover">
                                        <tbody>
                                            <tr class="text-left">
                                                <td style="width:5%">
                                                    <button class="btn btn-xs btn-primary fa fa-edit" data-toggle="collapse" data-parent="#accordion" href="#@item.Id" aria-expanded="true" aria-controls="collapseOne"></button>
                                                </td>
                                                <td style="width:15%">@item.UserName</td>

                                                <td style="width:15%">@Model._userRole</td>

                                                <td style="width:20%">@item.Email</td>
                                                <td style="width:15%">@item.PhoneNumber</td>
                                                @if (item.LockoutEnabled != true)
                                                {
                                                    <td style="width:15%">@item.LockoutEnabled</td>
                                                }
                                                else
                                                {
                                                    <td style="width:15%"><span class="animated shake"><i class="fa fa-exclamation"></i>@item.LockoutEnabled</span></td>
                                                }
                                                <td style="width:15%">@item.Logins.Count()</td>
                                                <td style="width:5%">
                                                    <form asp-controller="Manage" asp-action="DeleteUser" method="post" class="form-horizontal">
                                                        <input type="text" name="Id" value="@item.Id" hidden/> <!--HACK !!!!!!! NEEDS A CLEANER APPROACH-->
                                                        <button type="submit" class="btn btn-xs btn-danger fa fa-remove" />
                                                    </form>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div id="@item.Id" class="panel-collapse collapse out" role="tabpanel" aria-labelledby="heading @item.Id">
                                    <div class="panel-body">
                                        <span class="h4 col-lg-12 alert-danger"><i class="fa fa-edit"> </i>Redigera användarkonton</span>
                                        <form asp-controller="Manage" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                                            <div asp-validation-summary="All" class="text-danger"></div>
                                            <div class="form-group-sm">
                                                <div class="form-group">
                                                    <label asp-for="@item.UserName" class="col-md-2 control-label"></label>
                                                    <div class="col-lg-offset-0 col-md-4">
                                                        <input asp-for="@item.UserName" class="form-control" type="text" />
                                                        <span asp-validation-for="@item.UserName" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="@item.Roles" class="col-md-2 control-label"></label>
                                                    <div class="col-lg-offset-0 col-md-4">
                                                        @Html.DropDownListFor(x => Model._role, new SelectList(Model._role), new { @class = "form-control" })
                                                        <span asp-validation-for="@item.Roles" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="@item.Email" class="col-md-2 control-label"></label>
                                                    <div class="col-lg-offset-0 col-md-4">
                                                        <input asp-for="@item.Email" class="form-control" type="text" />
                                                        <span asp-validation-for="@item.Email"></span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="@item.PhoneNumber" class="col-md-2 control-label"></label>
                                                    <div class="col-lg-offset-0 col-md-4">
                                                        <input asp-for="@item.PhoneNumber" class="form-control" type="text" />
                                                        <span asp-validation-for="@item.PhoneNumber" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="@item.LockoutEnabled" class="col-md-2 control-label"></label>
                                                    <div class="col-lg-offset-0 col-md-4">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input asp-for="@item.LockoutEnabled" type="checkbox"> [Ja/Nej]
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <button type="submit" class="btn btn-success">Register</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
