@model RouteLister2.Models.ParcelListFromCompanyViewModel.ParcelListFromCompanyViewModel
<tr id="row@{@Model.CollieId}">
    @*<td></td>*@
    <td>@Model.ArticleAmount</td>
    <td>@Model.CollieId</td>
    @if (Model.DeliveryDate.HasValue) { 
        <td>@Model.DeliveryDate.Value.ToString("yyyy-MM-dd")</td>
    }
    else
    {
        <td></td>
    }
    <td>@Model.FirstName @Model.LastName</td>
    <td>@Model.Adress</td>
    <td>@Model.City</td>
    <td>@Model.PostNr</td>
    <td>@Model.PhoneOne</td>
    <td>@Model.Distributor</td>
    <td>@Model.ArticleName</td>
    <td>@Model.DeliveryType</td>
    <td>
        @* Lazy mode on Id here *@
        <form asp-action="Edit" asp-controller="Admin" id="form@{@Model.CollieId}" asp-route-id="@Model.Id">
           @* same here *@
            <select class="dropdown" asp-for="@Model.RegistrationNumber" asp-items="@Model.RegNrDropDown" id="dropdown@{@Model.CollieId} "></select>
            @* same here *@
            <input class="hidden" asp-for="@Model.CollieId" id="value@{@Model.CollieId}" />
            <input class="hidden" asp-for="@Model.Id" />
            <input class="hidden" type="button" />
        </form>
    </td>
    <td>
        <button class="btn btn-xs btn-success changeRegNrButton" id="changeRegNrButton@{@Model.CollieId}" type="submit"><i class="fa fa-check"></i></button>
    </td>
</tr>