@model IEnumerable<RouteLister2.Models.ParcelListFromCompanyViewModel.ParcelListImport>
@{
    ViewData["Title"] = "LOGISTIKBOLAGET || Paketlista-" + DateTime.Now.ToString("yyyy-MM-dd");
}


<script type="text/javascript">
    // < datatables API start 
    $(document).ready(function () {
        $('#deliverytable').DataTable({
            dom: 'B<"clear"><lf<t>ip>',
            buttons: [{ extend: 'copy', text: 'Kopiera', },
                {
                extend: 'excel',
                text: 'Excel',
                exportOptions: {  modifier: { page: 'current' } },
            },
            {
                //extend: 'pdf',
                extend: 'pdfHtml5',
                text: 'Pdf',
                orientation: 'landscape',
                pageSize: 'LEGAL'
            },
            ],
            "language": {
                "lengthMenu": "Visa _MENU_ rader per sida",
                "zeroRecords": "Din sökning gav inget - försök med ett annat sökord",
                "info": "_PAGE_ av _PAGES_",
                "infoEmpty": "Datatabellen är tom",
                "infoFiltered": "(filtrerdad på _MAX_ antal poster)"
            },
            "processing": true,
            "order": [[3, "asc"],[7, 'asc']]
        })

    });
    // datatables API end

    // < clock functionality START
    function startTime() {
        var today = new Date();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('clock').innerHTML =
            h + ":" + m + ":" + s;
        var t = setTimeout(startTime, 500);
    }
    function checkTime(i) {
        if (i < 10) { i = "0" + i };  // add zero in front of numbers < 10
        return i;
    }
    // < clock functionality END
</script>

    @{Html.RenderPartial("_AdminNavbar");}

    <section class="container panel panel-default x_panel">
        <div class="panel-heading x_title">
            <span class="h3">
                <i class="fa fa-list-ol"></i> Paketlista - @DateTime.Now.ToString("yyyy-MM-dd")
            </span>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div id="datatable-buttons_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                <table id="deliverytable" class="table table-width table-striped dt-responsive dataTable no-footer dtr-inline collapsed table-hover" role="grid" aria-describedby="datatable-buttons_info">
                    <thead>
                        <tr class="text-center">
                            <th><h6>#</h6></th>
                            <th><h6>Antal</h6></th>
                            <th><h6>KollieId</h6></th>
                            <th><h6>Levdatum</h6></th>
                            <th><h6>Namn</h6></th>
                            <th><h6>Adress</h6></th>
                            <th><h6>City</h6></th>
                            <th><h6>Postnr</h6></th>
                            <th><h6>Tele</h6></th>
                            <th><h6>Distributör</h6></th>
                            <th><h6>Artikel</h6></th>
                            <th><h6>Leveranstyp</h6></th>
                            <th><h6>Bil</h6></th>
                            <th></th>
                        </tr>

                    </thead >
                    <tbody >
                        @{ int count = 1;}
                        @{foreach (var item in Model)
                            {
                                <tr>
                                    <td>@count</td>
                                    <td>@item.ArticleAmount</td>
                                    <td>@item.CollieId</td>
                                    <td>@item.DeliveryDate.ToString("yyyy-MM-dd")</td>
                                    <td>@item.FirstName @item.LastName</td>
                                    <td>@item.Adress</td>
                                    <td>@item.City</td>
                                    <td>@item.PostNr</td>
                                    <td>@item.PhoneOne</td>
                                    <td>@item.Distributor</td>
                                    <td>@item.ArticleName</td>
                                    <td>@item.DeliveryType</td>
                                    <td>
                                        <select class="dropdown" id="Select1">
                                            <option>AAA111</option>
                                            <option>BBB222</option>
                                            <option>CCC333</option>
                                            <option>DDD444</option>
                                            <option>EEE555</option>
                                            <option>DDD666</option>
                                        </select>
                                    </td>
                                    <td>
                                        <form>
                                            <button class="btn btn-xs btn-success"><i class="fa fa-check"></i></button>
                                        </form>
                                    </td>
                                </tr>
                                count++;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>

