@model RouteLister2.Models.RouteList
<!-- RouteList-->
<form asp-action="Edit" asp-controller="RouteList">
    <div class="form-horizontal">
        <h4>RouteList</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ApplicationUserId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ApplicationUserId" asp-items="@ViewBag.UserDropDown" class="form-control"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Modified" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <p>@Model.Modified</p>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Created" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Model.Created
            </div>
        </div>
        <div class="form-group hidden">
            <label asp-for="Id" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Id">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
<!-- Orders -->
<div id="@Html.NameFor(x=>x.Orders)">
    @if (Model.Orders != null)
    {

        @for (int i = 0; i < Model.Orders.Count; i++)
        {
            @Html.EditorFor(x => x.Orders[i])
        }
    }
</div>
