@model RouteLister2.Models.RouteListerViewModels.OrderRowViewModel

@{ 
    var rowIdentifier = Html.IdFor(x => x.OrderRowStatus)+(Model.OrderRowId.ToString());
}
<tr id="@Html.IdFor(x => x.OrderRowId)@Model.OrderRowId">
    <td class="@Html.IdFor(x => x.Count)"><h5>@Model.Count</h5></td>
    <td class="@Html.IdFor(x => x.ParcelNumber)"><h5>@Model.ParcelNumber</h5></td>
    <td class="@Html.IdFor(x => x.ParcelName)"><h5>@Model.ParcelName</h5></td>
    <td>
        <div class="slideThree">
            <input type="checkbox" value=@Model.OrderRowStatus class="@Html.IdForModel()@Html.IdFor(x => x.OrderRowStatus)" name="check2" id="@rowIdentifier" />
            <label for="@Html.IdFor(x=>x.OrderRowStatus)@(Model.OrderRowId.ToString())"></label>

        </div>

    </td>

</tr>

@section Scripts {
    @{ 
        await Html.RenderPartialAsync("_SignalRScriptsPartial"); 
        }

    <script type="text/javascript">
        $("#@rowIdentifier").click(function () {
            //Asks server if its ok to change status. Server will respond with pushing a function to do such a thing
            var result = chat.server.ChangeStatusOnOrderRow($("#@rowIdentifier").val());
            if(result){
            $("#@rowIdentifier").val("");
                $("#@rowIdentifier").focus();
            }
            else{
                //show error? or let the server do that?
            
            }
        });
    </script>
}