@model RouteLister2.Models.RouteListerViewModels.RouteListViewModel

@if (Model != null)
{
    <div class="col-md-12 col-sm-12 col-xs-12" id="@Html.IdFor(x => x.DeliveryListId)@{@Model.DeliveryListId} ">
        <div class="x_panel">
            <div class="x_title">
                <span class="h3"><i class="fa fa-list-ol"></i> @Model.Title <span class="pull-right" id="clock"></span></span>

                <a data-toggle="modal" data-target="#exampleModal">

                    <!--Needs some real data to work - JUST A MOCKUP -->

                    <i class="fa fa-envelope fa-lg message-envelope animated jello"><span class="badge message-count">0</span></i>

                </a>
                <!--MODAL FOR MESSAGES-->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="exampleModalLabel">New message</h4>
                            </div>
                            <div class="modal-body" id="postsList">

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                @* no feature to send messages yet *@
                                @*<button type="button" class="btn btn-primary">Send message</button>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <!-- start accordion -->
                <section class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
                    @if (Model != null)
                {
                        <div class="panel" id="orderContainer">
                            @if (Model.Orders != null)
                            {
                                @for (int i = 0; i < Model.Orders.Count; i++)
                                {


                                    ViewBag.OrderRowNumber = i + 1;

                                    @Html.Partial("Order", Model.Orders[i], null)


                                }
                            }
                            else
                            {
                                <h1>Inga ordrar idag än</h1>


                            }
                        </div>
                    }


                </section>
                <!-- end of accordion -->
            </div>
        </div>
    </div>
    }
    else
    {
        <h1>Ingen lista tilldelad ännu</h1>
    }

<div id="loadingDiv" class="hidden"></div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_SignalRScriptsPartial"); }
    <script type="text/javascript">

        $(document).ready(function () {
            $(".status-text").click(function (event) {
                routeLister.setConnectionStatus.client(false);
            });

            $(document).on('click', '.slidah', function (e) {
                routeLister.orderRow.server(event);
            });

            external.startTime;
            routeLister.routeList.IdPrefix = '@Html.IdFor(x => x.DeliveryListId)';
            routeLister.order.getUrl = '@Url.Action("Order", "RouteList")';
        });
    </script>
}