@model RouteLister2.Models.RouteListerViewModels.RouteListViewModel

@if (Model != null)
{
    <div class="col-md-12 col-sm-12 col-xs-12" id="@Html.IdFor(x => x.DeliveryListId)@{@Model.DeliveryListId} ">
        <div class="x_panel">
            <div class="x_title">
                <span class="h3"><i class="fa fa-list-ol"></i> @Model.Title <span class="pull-right" id="clock"></span></span>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <!-- start accordion -->
                <section class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
                    @if (Model != null)
                {
                        @if (Model.Orders != null)
                        {
                            @for (int i = 0; i < Model.Orders.Count; i++)
                        {
                                <div class="panel" id="orderContainer">
                                    @{
                                        ViewBag.OrderRowNumber = i + 1;
                                    }
                                    @Html.Partial("Order", Model.Orders[i], null)

                                </div>
                                        }
                                        }
                                        else
                                        {
                                            <h1>Inga ordrar idag än</h1>


                                        }
                                        }
                                       

                </section>
                <!-- end of accordion -->
            </div>
        </div>
    </div>
                                        }
                                        else
                                        {
                                            <h1>Ingen lista tilldelad ännu</h1>
                                        }

<div id="loadingDiv" class="hidden"></div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_SignalRScriptsPartial"); }
    <script type="text/javascript">

        $(document).ready(function () {
            $(".status-text").click(function (event) {
                routeLister.setConnectionStatus.client(false);
            });

            $(document).on('click', '.slidah', function (e) {
                routeLister.orderRow.server(event);
            });

            external.startTime;
            routeLister.routeList.IdPrefix = '@Html.IdFor(x => x.DeliveryListId)';
            routeLister.order.getUrl = '@Url.Action("Order", "RouteList")';
        });
    </script>
}